// main: ../index.scss

%img-box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

%four-borders-anim {
  position: relative;
  display: block;
  width: 20%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: yellow;
  color: red;
  margin: 400px auto;
  font-family: Ubuntu, sans-serif;
  @include font-size(20px, 23px, 800)
  @include transition-mul((background-color, color));
  &::before {
    @include content(0, 3px);
    @include pos-abs(0, 0, null, null);
    @include transition-mul((width));
    border-radius: 18px 18px 0 0;
    background: #105C07;
  }
  &::after {
    @include content(0, 3px);
    @include pos-abs(null, null, 0, 0);
    @include transition-mul((width));
    border-radius: 0 0 18px 18px;
    background: #105C07;
  }
  &:hover {
    background: lightblue;
    color: #21134d;
    &::before {
      width: 100%;
    }
    &::after {
      width: 100%;
    }
    & span::after {
      height: 63px;
    }
    & span::before {
      height: 63px;
    }
  }
  & span {
    @include pos-abs(0, 0, null, null);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    &::after {
      @include content(3px, 0);
      @include pos-abs(null, null, 0, 0);
      @include transition-mul((height));
      border-radius: 18px 0 0 18px;
      background: #105C07;
    }
    &::before {
      @include content(3px, 0);
      @include pos-abs(0, 0, null, null);
      @include transition-mul((height));
      border-radius: 0 18px 18px 0;
      background: #105C07;
    }
  }
}
