// compileOnSave: false

// Mixins

@mixin font-face($name, $path, $weight: normal, $style: normal, $display: swap) {
  @font-face {
    font-family: quote($name);
    src: url($path+".eot");
    src: url($path+".eot?#iefix") format("embedded-opentype"),
         url($path+".woff") format("woff"),
         url($path+".woff2") format("woff2"),
         url($path+".ttf") format("truetype"),
         url($path+".svg##{$name}") format("svg");
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}

@mixin dinamic-font($min-size, $max-size, $layout-width: 1920) {
  $size-delta = $max-size - $min-size;
  font-size: calc($min-size + $size-delta * (100vw / $layout-width));
  @media screen and (max-width: 767.98) {
    font-size: calc($min-size + ($size-delta + $size-delta * 0.7) * ((100vw - 320px) / $layout-width));
  }
}

@mixin transition-mul($props: list($list), $dur: .3s, $func: ease, $res: null) {
  @each $prop in $props {
    $item: #{$prop} $dur $func;
    $res: append($res, $item, $separator: comma);
  }
  -webkit-transition: #{$res};
  -o-transition: #{$res};
  transition: #{$res};
}

@mixin flexbox() {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

@mixin flex-default-center($justify: center, $align: center, $dir: row) {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  -o-justify-content: $justify;
  justify-content: $justify;
  -ms-align-items: $align;
  align-items: $align;
  -webkit-flex-direction: $dir;
  -ms-flex-direction: $dir;
  flex-direction: $dir;
}

@mixin bg-img-cover($img, $bg-color: #939191) {
  -webkit-background: $bg-color url($img) no-repeat center/cover;
  -moz-background: $bg-color url($img) no-repeat center/cover;
  -ms-background: $bg-color url($img) no-repeat center/cover;
  -o-background: $bg-color url($img) no-repeat center/cover;
  background: $bg-color url($img) no-repeat center/cover;
}

@mixin bg-img($img, $pos, $size, $repeat, $origin: initial, $clip: initial, $attach: initial, $bg-color: #939191) {
  -webkit-background: $bg-color url($img) $pos/$size $repeat $origin $clip $attach;
  -moz-background: $bg-color url($img) $pos/$size $repeat $origin $clip $attach;
  -ms-background: $bg-color url($img) $pos/$size $repeat $origin $clip $attach;
  -o-background: $bg-color url($img) $pos/$size $repeat $origin $clip $attach;
  background: $bg-color url($img) $pos/$size $repeat $origin $clip $attach;
}

@include font-face('PTSans-Caption-Bold', '../fonts/pt_sans_caption/pt-sans-caption-bold', 700);

// Styles






















//
