// main: blocks.scss

// Media 560

@media screen and (max-width: 559.98px) {

  // Common 560

  .col {
    width: 98%;
    &_small {
      width: 98%;
    }
    &_big {
      width: 98%;
    }
  }
}





















//------------------------------------------------------------------
