// main: blocks.scss

$content-width: 1400px;

$color-black: #2B2B2B;
$color-black-dark: #1D1C1C;
$color-black-darken: #161515;

$color-grey: #555;
$color-grey-light: #aaa;

$color-white: #fff;

$icons-color: #aa0f0a;

$menu-item-active: #9d000f;

$odd-section-color: #e9edf2;
$even-section-color: #eff2e9;

$simple-nav-bg-color: #ECE781;
$submenu-nav-bg-color: #97daee;
