.cart {
  display: flex;
  flex-wrap: wrap;
}

.cart__item {
	box-shadow: 0 0 4px 3px #07121a;
	padding: .5em;
	width: 23%;
	margin: 1%;
	box-sizing: border-box;
	background: lightblue;
	color: red;
}

@media (max-width: 1024px) {
  .cart__item {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .cart__item {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .cart {
    flex-direction: column;
  }

  .cart__item {
    width: 98%;
  }
}
